@charset "ISO-8859-1";

.gradient {
	padding: 10px;
	background: -webkit-linear-gradient(#FFFF02, #FF0202);
	-webkit-background-clip: text;
	background-clip: text;
	clip: none;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
